
<br/><br/> 
       <div class="row">
       	<div class="span5">
     <div class="control-group">
    <label class="control-label" for="inputEmail">Lastname / Surname:<sup style="color:red;font:19px">*</sup></label>   
    <div class="controls">
    <input type="text" id="inputEmail" placeholder="Lastname/ SurName">
      </div>
    </div>

<div class="control-group">
    <label class="control-label" for="inputEmail">First  Name:<sup style="color:red;font:19px">*</sup></label>
    <div class="controls">
    <input type="text" id="inputEmail" placeholder="First Name">
      </div>
    </div>

<div class="control-group">
    <label class="control-label" for="inputEmail">Middle  Name:<sup style="color:red;font:19px">*</sup></label>
    <div class="controls">
    <input type="text" id="inputEmail" placeholder="Middle Name">
      </div>
    </div>




    <div class="control-group">
    <label class="control-label" for="inputPassword">Password:<sup style="color:red;font:19px">*</sup></label>
    <div class="controls">
    <input type="password" id="inputPassword" placeholder="Password">
    </div>
    </div>

    <div class="control-group">
    <label class="control-label" for="inputPassword">Re Enter Password:<sup style="color:red;font:19px">*</sup></label>
    <div class="controls">
    <input type="password" id="inputPassword" placeholder="Re EnterPassword">
    </div>
    </div>

    <div class="control-group">
    <div class="controls">
    <label class="checkbox">
    
    </label>
    
      </div>
      </div>

</div><!--span -->


<div class="span7">
	<form class="form-horizontal">
	<div class="control-group">
    <label class="control-label" for="inputEmail">H.NO: <sup style="color:red;font:19px">*</sup></label>
    <div class="controls">
    <input type="text" id="inputEmail" placeholder=" ">
      </div>
    </div>

    <div class="control-group">
    <label class="control-label" for="inputEmail">Building / Street:<sup style="color:red;font:19px">*</sup></label>
    <div class="controls">
    <input type="text" id="inputEmail" placeholder="">
      </div>
    </div>

    <div class="control-group">
    <label class="control-label" for="inputEmail"> Locality / Area:<sup style="color:red;font:19px">*</sup></label>
    <div class="controls">
    <input type="text" id="inputEmail" placeholder="">
      </div>
    </div>


    <div class="control-group">
    <label class="control-label" for="inputEmail"> Town / City:<sup style="color:red;font:19px">*</sup></label>
    <div class="controls">
    <input type="text" id="inputEmail" placeholder="">
      </div>
    </div>


    <div class="control-group">
    <label class="control-label" for="inputEmail">Pin No:<sup style="color:red;font:19px">*</sup></label>
    <div class="controls">
    <input type="text" id="inputEmail" placeholder="">
      </div>
    </div>





<div class="control-group">
    <label class="control-label" for="inputEmail">Contact No:<sup style="color:red;font:19px">*</sup></label>
    <div class="controls">
    <input type="text" id="inputEmail" placeholder=" ">
      </div>
    </div>


<div class="control-group">
    <label class="control-label" for="inputEmail">Mail Id:<sup style="color:red;font:19px">*</sup></label>
    <div class="controls">
    <input type="text" id="inputEmail" placeholder=" ">
      </div>
    </div>

  <div class="control-group">
    <label class="control-label" for="inputEmail">PAN NO:<sup style="color:red;font:19px">*</sup></label>
    <div class="controls">
    <input type="text" id="inputEmail" placeholder="">
      </div>
    </div>



<button type="submit" class="btn-large">Register</button>
 
</div>

</div>

    </form>