<h2>Events</h2>

<table>
<% @events.each do |event| %>
  <tr>
    <td><a href="/events/<%= event.id %>"><%= event.title %></a></td>
  </tr>
<% end %>
</table>



<head>
<link href="http://vjs.zencdn.net/4.0.3/video-js.css" rel="stylesheet">
<script src="http://vjs.zencdn.net/4.0.3/video.js"></script>
<style type="text/css">
  .vjs-default-skin { color: #883838 }
  .vjs-play-progress, .vjs-volume-level { background-color: #09405f }
  .vjs-control-bar { font-size: 60% }
</style>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>  

</head>



<body>
  <div class="fb-like" data-send="true" data-layout="button_count" data-width="450" data-show-faces="true" data-font="tahoma"></div>
  <div class= "5">
<table style="display: inline-block;" border ="1">
  <tr>
    <td>
 
    <video id="example_video_1" class="video-js vjs-default-skin"  
      controls preload="auto" width="640" height="264"  
      poster="http://video-js.zencoder.com/oceans-clip.png"  
      data-setup='{"example_option":true}'>  
     <source src="http://video-js.zencoder.com/oceans-clip.mp4" type='video/mp4' />  
     <source src="http://video-js.zencoder.com/oceans-clip.webm" type='video/webm' />  
     <source src="http://video-js.zencoder.com/oceans-clip.ogv" type='video/ogg' />  
    </video>
 <td>
 
    <td align = "center" ><marquee  behavior="scroll"  scrollamount = "2" direction="up" width = "50%" onmouseover="this.stop();" onmouseout="this.start();"><a href="http://google.co.in">Your upward scrolling text goes here</marquee></td>
 </table>
</div>
</body>
&nbsp;

